<ion-header>
  <ion-toolbar>
    <ion-title>A Cinco Passos de Você</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>...</ion-card-subtitle>
      <ion-card-title>SINOPSE</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Dois pacientes com fibrose cística se apaixonam,
       apesar das regras do hospital afirmarem que eles devem manter 1,5 metros de distância entre si.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>
        <h1>
          Atores:
        </h1>
        </ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>

    <ion-card-content>
      <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/3jWAFINe8W4KoHInnwxrPAsVc4Q.jpg" alt="">
        Haley Lu Richardson (Stella)


    </ion-card-content>
  </ion-card>

</ion-content>
